<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
    

    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>


        <title>Calculadora</title>



    </head>

    <body>
        <div class="row mt-5">
            <div class="col-md-12 d-flex justify-content-center">
              <form name="Cal">
                <div class="row titulo_calculadora">
                    <h2>Calculadora Básica</h2>
                </div>
                <div class="row ">
                  <div class="col-md-12 p-0">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" id="tela" type="text" name="ans" style="text-align: right" readonly></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="1">1</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="2">2</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="3">3</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="4">4</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="5">5</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="6">6</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="7">7</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="8">8</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="9">9</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="adicao">+</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="0">0</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="subtracao">-</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="divisao">&divide;</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="mutiplicacao">*</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="raiz">√</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="total">=</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="ponto">.</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="button" class="btn" value="C">CE</button>
                  </div>
                </div>
              </form>
            </div>
            
        </div>

        <div  class="footer-layout">
            <p>Devolped by: @samuel_granieri, 2022</p>


        </div>
        
            
    </body>


</html>